App_WebReferences/QadWebservices/default.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://erps.cn/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://erps.cn/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://erps.cn/">
      <s:element name="Invoke">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sFromSystem" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sToSystem" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sRequestID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sIFName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InvokeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InvokeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InvokeSoapIn">
    <wsdl:part name="parameters" element="tns:Invoke" />
  </wsdl:message>
  <wsdl:message name="InvokeSoapOut">
    <wsdl:part name="parameters" element="tns:InvokeResponse" />
  </wsdl:message>
  <wsdl:message name="InvokeHttpGetIn">
    <wsdl:part name="sFromSystem" type="s:string" />
    <wsdl:part name="sToSystem" type="s:string" />
    <wsdl:part name="sRequestID" type="s:string" />
    <wsdl:part name="sIFName" type="s:string" />
    <wsdl:part name="sData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InvokeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="InvokeHttpPostIn">
    <wsdl:part name="sFromSystem" type="s:string" />
    <wsdl:part name="sToSystem" type="s:string" />
    <wsdl:part name="sRequestID" type="s:string" />
    <wsdl:part name="sIFName" type="s:string" />
    <wsdl:part name="sData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InvokeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="QADInterfaceSoap">
    <wsdl:operation name="Invoke">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;FONT SIZE=5 COLOR=BLUE&gt;QAD 接口 WebService 调用方法&lt;/FONT&gt;&lt;br&gt;
&lt;br&gt;
Invoke 方法返回值：&lt;br&gt;
返回类型：字符串&lt;br&gt;
通讯、数据格式等系统错误： 0:错误信息&lt;br&gt;
业务数据处理结果：XML格式，Err_Code=200成功，400数据校验错误，500数据业务错误&lt;br&gt;
&lt;br&gt;
参数清单：&lt;br&gt;
1、String sFromSystem 数据来源系统，如SCM&lt;br&gt;
2、String sToSystem 数据发送的目标系统，如QAD&lt;br&gt;
3、String sRequestID 通讯标识符，每次调用确保唯一值，使用 UUID(GUID)&lt;br&gt;
4、String sIFName 接口英文名，如：POShipper、POShipperCancel&lt;br&gt;
5、String sData 接口数据，使用 XML 格式传递的接口数据&lt;br&gt;
</wsdl:documentation>
      <wsdl:input message="tns:InvokeSoapIn" />
      <wsdl:output message="tns:InvokeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="QADInterfaceHttpGet">
    <wsdl:operation name="Invoke">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;FONT SIZE=5 COLOR=BLUE&gt;QAD 接口 WebService 调用方法&lt;/FONT&gt;&lt;br&gt;
&lt;br&gt;
Invoke 方法返回值：&lt;br&gt;
返回类型：字符串&lt;br&gt;
通讯、数据格式等系统错误： 0:错误信息&lt;br&gt;
业务数据处理结果：XML格式，Err_Code=200成功，400数据校验错误，500数据业务错误&lt;br&gt;
&lt;br&gt;
参数清单：&lt;br&gt;
1、String sFromSystem 数据来源系统，如SCM&lt;br&gt;
2、String sToSystem 数据发送的目标系统，如QAD&lt;br&gt;
3、String sRequestID 通讯标识符，每次调用确保唯一值，使用 UUID(GUID)&lt;br&gt;
4、String sIFName 接口英文名，如：POShipper、POShipperCancel&lt;br&gt;
5、String sData 接口数据，使用 XML 格式传递的接口数据&lt;br&gt;
</wsdl:documentation>
      <wsdl:input message="tns:InvokeHttpGetIn" />
      <wsdl:output message="tns:InvokeHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="QADInterfaceHttpPost">
    <wsdl:operation name="Invoke">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;FONT SIZE=5 COLOR=BLUE&gt;QAD 接口 WebService 调用方法&lt;/FONT&gt;&lt;br&gt;
&lt;br&gt;
Invoke 方法返回值：&lt;br&gt;
返回类型：字符串&lt;br&gt;
通讯、数据格式等系统错误： 0:错误信息&lt;br&gt;
业务数据处理结果：XML格式，Err_Code=200成功，400数据校验错误，500数据业务错误&lt;br&gt;
&lt;br&gt;
参数清单：&lt;br&gt;
1、String sFromSystem 数据来源系统，如SCM&lt;br&gt;
2、String sToSystem 数据发送的目标系统，如QAD&lt;br&gt;
3、String sRequestID 通讯标识符，每次调用确保唯一值，使用 UUID(GUID)&lt;br&gt;
4、String sIFName 接口英文名，如：POShipper、POShipperCancel&lt;br&gt;
5、String sData 接口数据，使用 XML 格式传递的接口数据&lt;br&gt;
</wsdl:documentation>
      <wsdl:input message="tns:InvokeHttpPostIn" />
      <wsdl:output message="tns:InvokeHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QADInterfaceSoap" type="tns:QADInterfaceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Invoke">
      <soap:operation soapAction="http://erps.cn/Invoke" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="QADInterfaceSoap12" type="tns:QADInterfaceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Invoke">
      <soap12:operation soapAction="http://erps.cn/Invoke" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="QADInterfaceHttpGet" type="tns:QADInterfaceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Invoke">
      <http:operation location="/Invoke" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="QADInterfaceHttpPost" type="tns:QADInterfaceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Invoke">
      <http:operation location="/Invoke" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QADInterface">
    <wsdl:port name="QADInterfaceSoap" binding="tns:QADInterfaceSoap">
      <soap:address location="http://172.16.5.56/QADIFPGITEST/default.asmx" />
    </wsdl:port>
    <wsdl:port name="QADInterfaceSoap12" binding="tns:QADInterfaceSoap12">
      <soap12:address location="http://172.16.5.56/QADIFPGITEST/default.asmx" />
    </wsdl:port>
    <wsdl:port name="QADInterfaceHttpGet" binding="tns:QADInterfaceHttpGet">
      <http:address location="http://172.16.5.56/QADIFPGITEST/default.asmx" />
    </wsdl:port>
    <wsdl:port name="QADInterfaceHttpPost" binding="tns:QADInterfaceHttpPost">
      <http:address location="http://172.16.5.56/QADIFPGITEST/default.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>